.nav_bar{
    
    width: 100%;
    size : 30px;
    margin-top: 20px;
    
    overflow: auto;
    text-align: center;
    border:#9326a7 solid;
    border-radius: 25px;
}
.nav_bar a {
    padding: 12px;
    font-size: 25px;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;

}
.nav_bar a:hover{
    background-color:rgba(148, 47, 109, 0.597);
    color:rgb(255, 255, 255);
}
.nav_button{
    color: rgb(151, 22, 121);
}
.heading{
    text-align:center;
    color: #9326a7;
    font-size: 30px;
    
    border: 2px solid #a752dcf4;
    border-radius: 25px;
}

body{
   
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-image: url("HomePage.jpg");
    background-size: cover;
}
.trans_background{
    background-color: rgba(78, 42, 162, 0.4);
    border-radius: 25px;
  
}
.text{
    color: #9326a7;
    font-size: x-large; 
    size: 100px;
       
}
.trans_image{
    background-color:rgba(255,255,255,0.2) ;
    
}
.center{
    align-items: center;
    
}


