.nav_bar{
    
    width: 100%;
    size : 30px;
    margin-top: 20px;
    
    overflow: auto;
    text-align: center;
    border:#9326a7 solid;
    border-radius: 25px;
}
.nav_bar a {
    padding: 12px;
    font-size: 25px;
    padding: 5px 10px;
    display: inline-block;
    
    text-decoration: none;

}
.nav_bar a:hover{
    background-color:rgb(220, 134, 213);
    color:rgba(255, 255, 255, 0.763);
}
.nav_button{
    color: rgb(151, 22, 121);
}
.heading{
    text-align:center;
    color: #000000;
    font-size: 30px;
    
    border: 2px solid #a752dcf4;
    border-radius: 25px;
}

body{
   
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-image: url("bck.jpg");
    background-size: cover;
}
.trans_background{
    background-color: rgba(147, 42, 222, 0.9);
    border-radius: 25px;
  
}
.text{
    color: #ffffff;
    font-size: x-large; 
    size: 100px;
       
}
.trans_image{
    background-color:rgba(255,255,255,0.1) ;
    
}
.center{
    align-items: center;
    
}
.table, th, td {
    border: 1px solid rgb(131, 4, 78);
    border-collapse: collapse;
}
.footer{
    background-color: #2c0c6f;
    color: aliceblue;
    font-size: xx-large;
}
.footer_img{
    height: 30px;
    width: 30px;
}

